tbody{
	height:168px;
}
th.i0,td.i0{width: 3%;}th.i0{border-radius: 4px 0 0 0;}td.i0{font-size: 11px;}
th.i1,td.i1{width: 61%;}td.i1{text-align:left;padding-left:6px;}
th.i2,td.i2{width: 8%;}
th.i3,td.i3{width: 8%;}
th.i4,td.i4{width: 8%;}
th.i5,td.i5{width: 12%;}th.i5{border-radius: 0 4px 0 0;}

th.ix,td.ix{width: 3%;border-radius: 0 0 0 4px;}
th.iy,td.iy{width: 97%;text-align: left;padding-left: 1%;border-radius: 0 0 4px 0;}
tr:nth-child(even) {background-color: #f0f6f7c9;}
tr:nth-child(odd) {background-color: #f0f6f740;}
